
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    padding: 40px 0; 
}

.align-ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

a {
    padding: 5px;
    display: inline-block;
}

nav {
    
    background-color: bisque;
}

.button-style {
    padding: .5rem 1rem;
    border-radius: 25px;
    border: none;
    
}

.btn-white {
    color: white;
}

btn.small {
    font-size: 8px;
    padding: 0.3rem 0.7rem;
}

.conteiner {
    margin: 0 auto;
    width: 920px; 
}

.conteiner-sec {
    width: 700px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px;
}

header {
    background-color: lightblue;
    padding: 8px 0;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    
}

.flex-header > * {
    border : 1px solid red;
}

.header-col-lateral {
    padding: 5px;
    flex-basis: 30%;
}

.header-col-lateral-dx {
    padding: 5px;
    flex-basis: 30%;
    text-align: right;
}

.header-col-central {
    flex-basis: 60%;
    text-align: center;
}

.riempimento {
    padding: 50px;
}

.section-1 {
    background-color: blue;
}

.section-fill {
    display: flex;
    justify-content: space-around;
    border : 1px solid red;
}

.col-1 {
    background-color: blueviolet;
    width: 30%;
    padding: 60px;
    border: 1px solid black;
}

.col-2 {
    background-color: brown;
    width: 70%;
    padding: 60px;
    border: 1px solid green;
}

.sfondo-grigio {
    background-color: lightgray;
}

.box-inferiore {
    background-color: brown;
    width: 100%;
    padding: 200px;
}


.sfondo-nero {
    display: flex;
    align-content: stretch;
    background-color: black;
}

.col-3 {
    background-color: blueviolet;
    width: 30%;
    padding: 60px;
    border: 1px solid black;
}

.col-4 {
    background-color: brown;
    width: 70%;
    padding: 60px;
    border: 1px solid green;
}

footer {
    display: flex;
    justify-content: space-between;
}